ul.topnav {
  list-style: none;
  padding: 0 20px;
  margin: 0;
  float: left;
}
ul.topnav li {
  float: left;
  margin: 0;
  position: relative;
}

ul.topnav li ul.subnav {
  list-style: none;
  position: absolute;
  left: 0; top: 35px;
  display: none;
  float: left;
}

ul.topnav li ul.subnav li a {
  float: left;
  width: 145px;
}

.aBlogAdmin #a-admin-content
{
	width: 500px;
	margin-right: 220px;
}

.aBlogAdmin .right-subnav
{
	margin-left: -220px;
	float: left;
	width: 200px;
}

.aBlogAdmin .right-subnav .tag-input
{
	width: 192px !important;
}

.aBlogAdmin .right-subnav p
{
}

.aBlogAdmin .right-subnav hr
{
	display: block;
	width: 100%;
	height: 1px;
	border: 0;
	background: rgba(0,0,0,0.5);
	margin: 15px 0;
}