.topnav {
  list-style: none;
  padding: 0 20px;
  margin: 0;
  float: left;
}
.topnav li {
  float: left;
  margin: 0;
  position: relative;
}

.topnav a.a-blog-sort-label
{
	position: relative;
	z-index: 200;
	color: #333;
}

.topnav .filternav {
  list-style: none;
  position: absolute;
  left: -10px; top: -5px;
  display: none;
  float: left;
	padding: 30px 10px 10px 10px;
	border: 1px solid #ccc;
	background: #fff;
	font-size: 12px;
	min-width: 120px;
	width: auto !important;
	width: 120px;
	z-index: 100;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;	
	border-radius: 12px;	
	-moz-box-shadow:0 0 6px rgba(0, 0, 0, 0.20);
	-webkit-box-shadow:0 0 6px rgba(0, 0, 0, 0.20);
	-opera-box-shadow:0 0 6px rgba(0, 0, 0, 0.20);
	-khtml-box-shadow:0 0 6px rgba(0, 0, 0, 0.20);	
	box-shadow:0 0 6px rgba(0, 0, 0, 0.20);		
}

.topnav.show-filters li a.a-blog-sort-label
{
	z-index: 400;
	color: #FFCC00;
}

.topnav.show-filters .filternav
{
	z-index: 300;
}

.topnav .filternav a
{
	color: #444 !important;
}

.topnav .filternav a:hover
{
	color:#000 !important;
	text-decoration: underline !important;
}

.topnav .filternav hr
{
	float: left;
	clear: both;
	margin: 0 0 5px 0;
	padding: 0;
	height: 1px;
	background: #e5e5e5;
	border: 0;
	width: 100%;
}

ul.topnav li .filternav li a {
  float: left;
  width: 145px;
}

.aBlogAdmin #a-admin-content
{
	width: 500px;
	margin-right: 220px;
}

/* Right Sidebar */

.aBlogAdmin .right-subnav
{
	margin-left: -220px;
	float: left;
	width: 200px;
}

.aBlogAdmin .right-subnav .tag-input
{
	width: 192px !important;
}

.aBlogAdmin .right-subnav p
{
}

.aBlogAdmin .right-subnav hr
{
	display: block;
	width: 100%;
	height: 1px;
	border: 0;
	background: rgba(0,0,0,0.5);
	margin: 15px 0;
}

/* Tags Sort Box */

.topnav.a-blog-tags-sort .filternav
{
	width: 240px;
}

.a-blog-tags-sort .filternav span,
.a-blog-tags-sort .filternav b,
.a-blog-tags-sort .filternav a
{
	float: none !important;
	line-height: 1.1 !important;
	display: inline !important;
}

.a-blog-tags-sort .filternav span
{
	padding-left: 5px;
}

.a-blog-tags-sort .filternav span.first
{
	padding-left: 0;
}

.a-blog-tags-sort .filternav b
{
	font-size: 14px;
	color: #ccc;
}

.a-blog-tags-sort .filternav a
{
	color: #333;
	font-size: 12px;
	padding: 0 0 0 5px;
}

.a-admin-filter-sentence
{
	float: left;
	width: 100%;
	clear: both;
}

.a-admin-filter-sentence a.selected
{
position: relative;
padding-right: 20px;
}

.a-admin-filter-sentence a.selected span.close
{
position: absolute;
display: block;
height: 20px;
width: 20px;
background: url(/apostrophePlugin/images/a-icon-close.png) 100% 0 no-repeat;
top: 50%;
right: 0;
margin-top: -10px;
}

.a-admin-filter-sentence a.selected:hover
{
	color: #333;
	text-decoration: underline;
}

.a-admin-filter-sentence a.selected:hover span.close
{
background-position: 100% -20px;
}