.aBlogAdmin.edit #a-admin-content,
.aBlogAdmin.edit #a-admin-footer,
.aBlogAdmin.edit .a-admin-actions
{
	clear: both;
	width: 460px;
}

.aBlogAdmin .a-admin-list-table
{
	margin: 20px 0;
}

.aBlogAdmin .a-admin-list thead th
{
	padding: 2px;
	background: -moz-linear-gradient(
	    center bottom,
	    rgb(224,224,224) 42%,
	    rgb(235,235,235) 71%
	);	
	background: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.42, rgb(228,228,228)),
	    color-stop(0.80, rgb(235,235,235))
	) !important;
}



#a-admin-list-batch-actions
{
	-webkit-border-top-left-radius: 12px;
	-webkit-border-top-right-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
	-webkit-border-bottom-left-radius: 12px;
	-moz-border-radius-topleft: 12px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 12px;
	border-top-left-radius: 12px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 12px;
}

.a-admin-date.a-admin-list-th-published_at
{
	-webkit-border-top-left-radius: 0px;
	-webkit-border-top-right-radius: 12px;
	-webkit-border-bottom-right-radius: 12px;
	-webkit-border-bottom-left-radius: 0px;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 12px;
	-moz-border-radius-bottomright: 12px;
	-moz-border-radius-bottomleft: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 12px;
	border-bottom-right-radius: 12px;
	border-bottom-left-radius: 0px;
	padding: 0 10px 0 0 !important;
}

.a-admin-batch-checkbox,
.a-admin-list-batch-checkbox-toggle
{
	margin: 0 0 0 5px;
}

/* Top Nav for Filtering */

.topnav {
  list-style: none;
  padding: 0 40px 0 0;
  margin: 0;
  float: left;
}
.topnav li {
  float: left;
  margin: 0;
  position: relative;
}

.topnav a.a-blog-sort-label
{
	position: relative;
	z-index: 200;
	color: #333;
}

.topnav .filternav {
  list-style: none;
  position: absolute;
  left: -10px; top: -5px;
  display: none;
  float: left;
	padding: 30px 10px 10px 10px;
	border: 1px solid #ccc;
	background: #fff;
	font-size: 12px;
	min-width: 120px;
	width: auto !important;
	width: 120px;
	z-index: 100;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;	
	border-radius: 12px;	
	-moz-box-shadow:0 0 6px rgba(0, 0, 0, 0.20);
	-webkit-box-shadow:0 0 6px rgba(0, 0, 0, 0.20);
	-opera-box-shadow:0 0 6px rgba(0, 0, 0, 0.20);
	-khtml-box-shadow:0 0 6px rgba(0, 0, 0, 0.20);	
	box-shadow:0 0 6px rgba(0, 0, 0, 0.20);		
}

.topnav .filternav a
{
	color: #444 !important;
}

.topnav .filternav a:hover
{
	color:#000 !important;
	text-decoration: underline !important;
}

.topnav .filternav hr
{
	float: left;
	clear: both;
	margin: 0 0 5px 0;
	padding: 0;
	height: 1px;
	background: #e5e5e5;
	border: 0;
	width: 100%;
}

ul.topnav li .filternav li a {
  float: left;
  width: 145px;
}

.topnav.show-filters a.a-blog-sort-label
{
	z-index: 400;
	color: #FFCC00;
}


.topnav.show-filters .filternav
{
	z-index: 300;
}

/* Tags Sort Box */

.topnav.a-blog-tags-sort .filternav
{
	width: 240px;
}

.a-blog-tags-sort .filternav span,
.a-blog-tags-sort .filternav b,
.a-blog-tags-sort .filternav a
{
	float: none !important;
	line-height: 1.1 !important;
	display: inline !important;
}

.a-blog-tags-sort .filternav span
{
	padding-left: 5px;
}

.a-blog-tags-sort .filternav span.first
{
	padding-left: 0;
}

.a-blog-tags-sort .filternav b
{
	font-size: 14px;
	color: #ccc;
}

.a-blog-tags-sort .filternav a
{
	color: #333;
	font-size: 12px;
	padding: 0 0 0 5px;
}


/* Right Sidebar */

.aBlogAdmin .right-subnav
{
	float: left;
	width: 200px;
	padding: 10px;
	margin: 10px 10px 10px 20px;
	background-color: #e0e0e0;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;	
	border-radius: 12px;
	-moz-box-shadow:0 0 6px rgba(0, 0, 0, 0.20);
	-webkit-box-shadow:0 0 6px rgba(0, 0, 0, 0.20);
	-opera-box-shadow:0 0 6px rgba(0, 0, 0, 0.20);
	-khtml-box-shadow:0 0 6px rgba(0, 0, 0, 0.20);	
	box-shadow:0 0 6px rgba(0, 0, 0, 0.20);			
	border: 1px solid #ccc;
}

.aBlogAdmin .right-subnav .tag-input
{
	width: 192px !important;
}

.aBlogAdmin .right-subnav hr
{
	display: block;
	width: 100%;
	height: 1px;
	border: 0;
	background: #efefef;
	margin: 15px 0;
}

.aBlogAdmin .right-subnav .a-time-wrapper input,
.aBlogAdmin .right-subnav .a-date-wrapper input
{
	width: 75px;
}

.aBlogAdmin .right-subnav .a-time-wrapper select
{
	
}

.aBlogAdmin .right-subnav hr,
.aBlogAdmin .right-subnav .section,
.aBlogAdmin .right-subnav .option
{
float: left;
clear: both;
width: 100%;
}

.aBlogAdmin .right-subnav .option
{
	margin-bottom: 5px;
}

.a-admin-action-controls,
.a-admin-action-controls li
{
	overflow: auto;
}

.a-admin-action-controls li
{
	margin: 0 0 5px 0;
}

.a-blog-post-title
{
	position: absolute;
	top: 55px;
	left: 0;
}

.a-area-blog-post-body
{
	margin-top: 65px;
}



/* Admin Filter Sentence */


.a-admin-filter-sentence
{
	float: left;
	width: 100%;
	clear: both;
}

.a-admin-filter-sentence a.selected
{
position: relative;
padding-right: 20px;
}

.a-admin-filter-sentence a.selected span.close
{
position: absolute;
display: block;
height: 20px;
width: 20px;
background: url(/apostrophePlugin/images/a-icon-close.png) 100% 0 no-repeat;
top: 50%;
right: 0;
margin-top: -10px;
}

.a-admin-filter-sentence a.selected:hover
{
	color: #333;
	text-decoration: underline;
}

.a-admin-filter-sentence a.selected:hover span.close
{
background-position: 100% -20px;
}